.visualizer-slider {
    font-weight: bold;
    
    display: flex;
}

.visualizer-slider-input {
    background-color: var(--main-color);
    -webkit-appearance: none;
    margin-right: 0.5rem;
    padding: 0 0.2rem;
    border-radius: 0.4rem;
    width: 10rem;
}

.visualizer-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 0.3rem;
    background: var(--secondary-color);
    cursor: pointer;
}

.visualizer-slider-input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 0.31rem;
    background: var(--secondary-color);
    cursor: pointer;
}