.visualizer-nav {
    background-color: var(--secondary-color);

    right: 0rem;
    position: absolute;
    height: 100%;

    transition: transform 0.5s;
}

.visualizer-nav-hidden {
    transform: translateX(100%);
}

.visualizer-nav-structure {
    position: relative;
    height: 100%;
}

.visualizer-tools-button {
    background-color: var(--secondary-color);

    position: absolute;
    top: 50%;
    left: -2.3rem;
    width: 5rem;
    height: 5rem;
    padding: 0.6rem;

    transform: translateY(-50%) rotate(45deg);
}

.visualizer-tools-inner-square {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    padding: 0.6rem;

    cursor: pointer;
}

.visualizer-tools-arrow {
    width: 100%;
    height: 100%;

    border-top: 0.6rem solid var(--secondary-color);
    border-right: 0.6rem solid var(--secondary-color);

    transition: transform 0.5s;
}

.visualizer-tools-arrow-normal:active {
    transform: rotateY(180deg) rotateZ(90deg);
}

.visualizer-tools-arrow-inverse {
    transform: rotateY(180deg) rotateZ(90deg);
}

.visualizer-tools { 
    height: 100%;

    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visualizer-tools-controls {
    display: flex;
    justify-content: space-evenly;
}