.visualizer-ui {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 24fr 1fr;

    transition: opacity 3s 3s;
    opacity: 0;
}

.visualizer-ui:hover {
    transition: opacity 0.1s;
    opacity: 1;
}

.visualizer-tools {
    grid-column: 1 / span 3;
}

.visuals-selector {
}

.visualizer-canvas {
    display: block;
}